%h1 Add a new role

- @user_role = UserRole.new
= form_for @user_role, html: { style: 'margin: 0 0 20px 10px'} do |f|
  = f.hidden_field :user_id, {:value => params[:user_id].to_i}
  %p
    = f.label :role, 'Role: '
    = f.select :role, Role.available_roles(params[:user_id]).scoped.collect {|p| [ p.name, p.id ] }, {:include_blank => true}, class: 'slt', style: 'width: 200px'
    = f.submit nil, class: 'btn success' 
  
%h1 User Roles
#user_role_wrapper(style='height: 250px; width: 500px;border: 1px solid #A5A5A5; margin: 0 0 10px 10px;')
  = render :partial => '/grid', :locals => {grid: controller.screen.grids.first}


#delete_user_role(style='margin: 0 0 10px 10px;')
  %button.btn.danger Delete
  
:javascript
  $(function() {
    $('form#new_user_role').off('submit', '**').on('submit', function(){
      $.post('/user_roles.json', $(this).serialize() + "&authenticity_token=" + window._token, function(data) {
        var grid;
        if (data.success) {
          grid = gridManager.getGrid("user_role");
          grid.loader.addFilter('user_id', '#{params[:user_id]}');
          $('#user_role_role option[value="' + $('#user_role_role').val() + '"]').remove();
          if ($('#user_role_role option[value!=""]').size() == 0) {
            $('form#new_user_role .success').attr("disabled", "disabled");
          }
        } else {
          displayErrorMessage('Add role to user failed!');
        }
      })
      return false;
    });
    
    $('#delete_user_role .danger').off('click', '**').on('click', function(){
      var grid, ids;
      grid = gridManager.getGrid("user_role");
      ids = grid.getSelectedIds().join();
      if (ids) {
        Requests.deleteByAjax(grid, ids);
      } else {
        displayErrorMessage('Select a user role first!');
      }
    });
  
  })